Importıng necessary lıbrarıes

In [ ]:
import pandas as pd
import nltk
from nltk.tokenize import word_tokenize
from nltk.corpus import stopwords
from nltk.stem.porter import PorterStemmer
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

True

movıng the workspace to content/drıve

In [ ]:
from google.colab import drive
drive.mount('/content/drive')
%cd drive/MyDrive/Colab Notebooks/

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
/content/drive/MyDrive/Colab Notebooks

Readıng the csv fıle

In [ ]:
data_path ='IMDB-movie-reviews.csv'
df = pd.read_csv(data_path, sep=',', delimiter=None, header='infer')
print (df.shape)
df.head()

(50000, 2)

                                              review sentiment
0  One of the other reviewers has mentioned that ...  positive
1  A wonderful little production. <br /><br />The...  positive
2  I thought this was a wonderful way to spend ti...  positive
3  Basically there's a family where a little boy ...  negative
4  Petter Mattei's "Love in the Time of Money" is...  positive

A sample revıew

In [ ]:
print (df['review'][0])

One of the other reviewers has mentioned that after watching just 1 Oz episode you'll be hooked. They are right, as this is exactly what happened with me.<br /><br />The first thing that struck me about Oz was its brutality and unflinching scenes of violence, which set in right from the word GO. Trust me, this is not a show for the faint hearted or timid. This show pulls no punches with regards to drugs, sex or violence. Its is hardcore, in the classic use of the word.<br /><br />It is called OZ as that is the nickname given to the Oswald Maximum Security State Penitentary. It focuses mainly on Emerald City, an experimental section of the prison where all the cells have glass fronts and face inwards, so privacy is not high on the agenda. Em City is home to many..Aryans, Muslims, gangstas, Latinos, Christians, Italians, Irish and more....so scuffles, death stares, dodgy dealings and shady agreements are never far away.<br /><br />I would say the main appeal of the show is due to the fact that it goes where other shows wouldn't dare. Forget pretty pictures painted for mainstream audiences, forget charm, forget romance...OZ doesn't mess around. The first episode I ever saw struck me as so nasty it was surreal, I couldn't say I was ready for it, but as I watched more, I developed a taste for Oz, and got accustomed to the high levels of graphic violence. Not just violence, but injustice (crooked guards who'll be sold out for a nickel, inmates who'll kill on order and get away with it, well mannered, middle class inmates being turned into prison bitches due to their lack of street skills or prison experience) Watching Oz, you may become comfortable with what is uncomfortable viewing....thats if you can get in touch with your darker side.

# Functıons to preprocess the data

Remove punctuations

In [ ]:
def remove_punctuations(doc: str) -> str:
    '''
    Removes punctuatıons
    '''
    punctuations = """<?>/.,""#+_'"""
    doc = ''.join([' ' if ch in punctuations else ch for ch in doc])

    return doc

In [ ]:
df['review'] = df['review'].apply(remove_punctuations)
df.head()

                                              review sentiment
0  One of the other reviewers has mentioned that ...  positive
1  A wonderful little production   br    br   The...  positive
2  I thought this was a wonderful way to spend ti...  positive
3  Basically there s a family where a little boy ...  negative
4  Petter Mattei s  Love in the Time of Money  is...  positive

Remove single characters

In [ ]:
def remove_single_character(doc: str) -> str:
    '''
    Removes sıngle characters
    '''
    doc = doc.split()
    doc = ' '.join([word for word in doc if len(word)!=1])

    return doc

In [ ]:
df['review'] = df['review'].apply(remove_single_character)
df.head()

                                              review sentiment
0  One of the other reviewers has mentioned that ...  positive
1  wonderful little production br br The filming ...  positive
2  thought this was wonderful way to spend time o...  positive
3  Basically there family where little boy (Jake)...  negative
4  Petter Mattei Love in the Time of Money is vis...  positive

Remove trailing spaces

In [ ]:
def remove_trainling_spaces(doc: str) -> str:
    '''
    Removes trailing spaces
    '''
    doc = doc.strip()

    return doc

In [ ]:
df['review'] = df['review'].apply(remove_trainling_spaces)
df.head()

                                              review sentiment
0  One of the other reviewers has mentioned that ...  positive
1  wonderful little production br br The filming ...  positive
2  thought this was wonderful way to spend time o...  positive
3  Basically there family where little boy (Jake)...  negative
4  Petter Mattei Love in the Time of Money is vis...  positive

Remove stop words

In [ ]:
stop_words = list(stopwords.words('english'))
def remove_stop_words(doc: str) -> str:
    '''
    Removes stop words
    '''
    doc = doc.split()
    doc = ' '.join([word for word in doc if word not in stop_words])

    return doc

In [ ]:
df['review'] = df['review'].apply(remove_stop_words)
df.head()

                                              review sentiment
0  One reviewers mentioned watching Oz episode ho...  positive
1  wonderful little production br br The filming ...  positive
2  thought wonderful way spend time hot summer we...  positive
3  Basically family little boy (Jake) thinks zomb...  negative
4  Petter Mattei Love Time Money visually stunnin...  positive

Convert all words to lower case

In [ ]:
def to_lower_case(doc: str) -> str:
    '''
    Converts text to lower case
    '''
    doc = doc.lower()
    return doc

In [ ]:
df['review'] = df['review'].apply(to_lower_case)
df.head()

                                              review sentiment
0  one reviewers mentioned watching oz episode ho...  positive
1  wonderful little production br br the filming ...  positive
2  thought wonderful way spend time hot summer we...  positive
3  basically family little boy (jake) thinks zomb...  negative
4  petter mattei love time money visually stunnin...  positive

Lemmatize the words

In [ ]:
ps = PorterStemmer()
def lemmatize(doc: str) -> str:
    '''
    Lemmatızes the words
    '''
    doc = doc.split()
    doc = ' '.join([ps.stem(word) for word in doc])
    return doc

In [ ]:
df['review'] = df['review'].apply(lemmatize)
df.head()

                                              review sentiment
0  one review mention watch oz episod hook they r...  positive
1  wonder littl product br br the film techniqu u...  positive
2  thought wonder way spend time hot summer weeke...  positive
3  basic famili littl boy (jake) think zombi clos...  negative
4  petter mattei love time money visual stun film...  positive

Export the final file to drive

In [ ]:
df.to_csv("preprocessing_output_file.csv", index=False)